@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reservas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e745eea8c3.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" id="goReservas" asp-controller="Reserva" asp-action="Index">Reservas</a>

            <a class="navbar-brand" asp-area="" id="goMesas" asp-controller="Mesas" asp-action="Index">Mesas</a>


            <div id="logout" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <a class="navbar-brand" asp-area="" id="goMesas" asp-controller="Auth" asp-action="Logout">Logout</a>
            </div>
        </div>
    </nav>
</header>

<div>
    <h1 id="hola">hola</h1>
</div>


<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Reservas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>